<section class="hero is-warning is-fullheight">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-4">
          Erro 404 - Página não encontrada
        </h1>
        <p></p>
        <div class="container">
          <img src="assets/games/binoculars-clipart.png" alt="Imagem">
        </div>
        <br />
        <p></p>
        <h2 class="subtitle is-6">
          <a routerLink="/">
          <span class="icon">
            <i class="fa fa-long-arrow-left"></i>
          </span>
          <span>
            Voltar
          </span>
          </a>
        </h2>
      </div>
    </div>
  </section>
  
  <app-footer></app-footer>