<section class="hero outer is-fullheight animated slideInLeft" *ngIf="menuService.opened; is-hidden">
  <div class="hero-body outer">
    <div class="container">

      <section class="hero inner is-danger is-bold animated fadeIn">
        <div class="hero-body inner">
          <div class="container">
            <img src="assets/avatar.png" />
          </div>
        </div>
      </section>

      <br />

      <ul>

          <li>
              <a class="columns is-mobile" (click)="menuService.close()">
                <div class="column has-text-right is-one-quarter">
                  <i class="fa fa-window-close-o"></i>
                </div>
                <div class="column">
                  <strong>
                    Fechar Menu
                  </strong>
                </div>
              </a>
            </li>

        <li *ngFor="let option of menuService.options">
          <a class="columns is-mobile" [routerLink]="option.route">
            <div class="column has-text-right is-one-quarter">
              <i class="{{option.icon}}"></i>
            </div>
            <div class="column">
              <strong>
                {{option.text}}
              </strong>
            </div>
          </a>
        </li>
      </ul>

    </div>
  </div>
</section>
